<!-- start custom head snippets -->

{% if page.adsense %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5010396764070254",
      enable_page_level_ads: true
    });
  </script>
{% endif %}
{% if content contains "</asciinema-player>" %}
  <link rel="stylesheet" type="text/css" href="/assets/css/asciinema-player.css" />
  <script src="/assets/js/asciinema-player.js"></script>
{% endif %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
