/* ==========================================================================
   AdSense left navigation slot.
   ========================================================================== */
.sidebar {
  div.adslot-leftnav {
    text-align: center;
    width: 100%;
    height: auto;
    clear: both;
    display: none;

    @include breakpoint($large) {
      display: block;
    }
  }
}

.adslot-top {
  text-align: center;
  width: 100%;
  height: auto;
  clear: both;
}
