/* ==========================================================================
   Custom classes for DevPro Media.
   ========================================================================== */
.sidebar {
  /* If the ad unit is in the left nav on a small screen, do not display it */
  div.adslot {
    display: none;

    @include breakpoint($large) {
      display: block;
    }
  }
}

.adslot {
  text-align: center;
  width: 100%;
  height: auto;
  clear: both;
}
